{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>
<a href="{{ url_for('main.add_book') }}">Add New Book</a>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Availability</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ 'Available' if book.availability else 'Borrowed' }}</td>
        <td>
            <a href="{{ url_for('main.edit_book', book_id=book.id) }}">Edit</a>
            <a href="{{ url_for('main.delete_book', book_id=book.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}